:root{
	--main-color: #5dbd6e;
	--bg-color: #28242c;
  --link-color: #17E300;
}

body{
	background-color: var(--bg-color);
	color: var(--main-color);
}

.particles-icon:hover svg path {
  stroke-width:.075em
}

a:visited {
    color: #17E300; /* Set links to blue after they have been visited */
}

a {
  text-decoration: none;
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
}

#home h1 {
  margin-top: 1.5em;
}

#particles-js {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .particles-js-canvas-el {
    width: 100%;
    height: 99.5vh !important;
  }

  .jumbotron {
    position: absolute;
    top: 44%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.fullscreen {
  min-height: 100vh;
}

.particles-title {
  margin: 0;
  font-size: 3.5em;
  font-weight: 500;
  white-space: nowrap;
}

.particles-subtitle {
  margin: 0 0 1em 0;
  font-size: 1.75em;
  font-weight: 400;
}

.particles-photo {
  width: 35%;
  border-radius: 50%;
  margin: auto;
  margin-bottom: .5em;
 }

.nowrap {
  white-space: nowrap;
}

.particles-icon {
  margin: 0 0.5em;
  pointer-events: all;
  font-size: 1.25em;
  
  svg {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }

  svg circle,
  svg path {
    stroke: var(--main-color) !important;
    stroke-width: 0.05em;
  }

  &:focus,
  &:hover {
    border: none;

    svg circle,
    svg path {
      stroke-width: 0.075em;
    }
  }
}
  
.text-center {
  text-align: center !important;
}

img, svg {
  vertical-align: middle;
}
