:root{
	--main-color: #17E300;
	--bg-color: #000000;
}

body{
	background-color: var(--bg-color);
	color: var(--main-color);
} 
p {

}

#menu{
 color: green
}

.red{
 color = red;
}

a {
    color: #17E300; /* Set links to green */
}

a:visited {
    color: blue; /* Set links to blue after they have been visited */
}
